Package: newscoop-sample-data
Source: newscoop
Version: 2.5.1-1
Architecture: all
Maintainer: Daniel James <daniel@64studio.com>
Installed-Size: 96608
Section: web
Priority: optional
Homepage: http://www.sourcefabric.org/en/newscoop/
Description: sample data for the Newscoop content management system
 This package contains sample data which can be used to test 
 the Newscoop content management system from Sourcefabric.
